body {
  margin: 0;padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
 .navbar {
	padding: 10px; box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  position: fixed;font-weight: 700;text-decoration: none;
}
.container-body:after {
	content:"";
	position:absolute;
	top:0;right:0;left:0;bottom:0;
	background:linear-gradient(to bottom, transparent 50%, rgb(26, 163, 255) 140%)
}
.logo {
  width: 41px;
  margin-left: 20px;
}
.container-body {
  background-image: url("./assets/back.jpg");
  background-size: cover;margin-top: 67px;background-blend-mode: screen;
padding:10px;filter:grayscale(10%);
}

.caption-body {
	text-align:center;
}
.Active-Feature{
    background: greenyellow;box-shadow: 3px 4px 3px rgba(0,0,0,.1);border-radius: 7px;
}
.caption-body h1 {
  font-weight: bold;font-family:  'Courier New',' Courier', 'monospace';
  font-size: 50px;
  color: white;
}
.caption-body .text-title1{
	color:blue;
}
.caption-body h1 b {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
  color: rgb(100, 235, 11);
}
.ab{
    width: 230px;
}
.caption-body h3{
 font-weight: 200;
  font-size: 33px;
  color: white;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}
.caption-body button {
	margin:10px;
}
.nm  {
  display:flex; justify-content: flex-end;
}
.nm .caption-kirti {
  justify-content: space-evenly;
}
.container-about {
  background: linear-gradient(to right, white 50%,violet 99%);
}

.logo-kirti {
  margin-right: 40px;
}
.caption-kirti {
  margin-top: 30px;
  text-align: justify;
}
.about-list ul {
  display: flex; justify-content: space-evenly;
}
#pillNav2{
  max-width: 330px;
  --bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);
}
.fs-2 {
    font-family:  'Courier New', Courier, monospace;font-weight: bold;
    color:rgb(255, 255, 26)
}
.text-cente {
    border-bottom: 3px solid blue;
    border-bottom-width: 40px;
}

#{
    overflow-x: hidden;
}
.section-1{
    background: linear-gradient(to right,white , rgb(26, 163, 255)  );
    opacity: .9;
    
}
.section-2{
	padding:3px;
	background-color:whitesmoke;
}
#colom{
	padding:10px;gap:1rem;
}
#pad{
	display:flex;
	justify-content:space-evenly;
}
#box-col{
	padding: 5px;width:350px;border:2px solid rgb(0, 122, 204);
	border-radius:10px;background:white;
	box-shadow:0px 3px 8px  rgba(100,100,111,0.2);
}
#foto-section{
    box-shadow: 20px 18px rgba(0,0,0, .1);
}
.container{
	padding:10px;
}
.line-title{
    border-bottom: 5px solid blue;
}
.visi{
	display:flex; justify-content:space-between;
}
.visi h3 {
	text-align:center;
	color:red;
}

.visi-card{
	padding:10px;
	width:60%;border-radius: 12px;
	border:3px solid rgb(225, 51, 51);
}
.misi h3 {
  color:rgb(26, 140, 255);
}
.misi{
	display:flex;padding:10px;
	flex-direction:row-reverse;
}
.misi-card{margin-top:10px;border-radius: 12px;
	width:60%;padding:10px;border:2px solid rgb(26, 140, 255);
}
.main{
	background-color: aqua;font-family:Roboto;
}
.container-absensi{padding:10px;border-radius:5px;
	background-color:whitesmoke;margin-right: 20%;margin-left:20%;
}
.box-title{
	margin-top:10px;
	margin-right:10px;margin-left:10px;border: 0.1px solid gray;
	border-radius:5px;border-top:10px solid red;border-bottom-style:2px solid;
	margin-right:4%;margin-left:4%;
	background-color:white;padding:5px;
}
.box-absensi{
	margin-top:20px;border: 0.1px solid gray;
	border-radius:5px;background-color:white;
	margin-right:10px;margin-left:10px;border-left-style:2px solid blue;
	margin-right: 4%;margin-left:4%;
	background-color:white;padding:3px;
}
 .text-absensi{
	font-size:15px;
	margin-bottom:5px;font-weight:bold;
}
.input-absensi{
	width:90%;padding:8px;
	border:none;border-bottom:1px solid gray;
	
}
.input-absensi:focus{
	outline:none;
	border-bottom:1px solid gray;
}
.button-absensi{
	width:120px;padding:5px;font-size:15px;
	background-color:aqua;border:none;border-radius:5px;
}
.input-absensi:hover{
	border-right-color:white;
}
@media(max-width:670px){
	.container-absensi{
		margin-left:2%;margin-right:1.5%;margin-top:1%;
	}
}
@media(max-width: 670px) {
	.container-body {
		background-size:cover;
	}
	.caption-body h1 {
 
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.caption-body h3{
	
  font-weight: bold;
  font-size: 18px;
}
.nm {
 
  display: block;
}
}